<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.lsy.mapper.DepartmentMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <!--resultType可写别名，在config中有配置-->
    <!--useCache="false"  不使用二级缓存-->
    <select id="findAll" resultType="dept" useCache="false">
        select *
        from `department`
    </select>

    <select id="findById" parameterType="int" resultType="dept">
        select *
        from `department`
        where id = #{id}
    </select>

    <select id="findByName" resultType="dept">
        select *
        from `department`
        where name = #{name}
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        select count(1)
        from `department`
    </select>

    <!--利用pege工具类构造分页-->
    <select id="findByPage" resultType="dept">
        <bind name="beginindex" value="(pageIndex-1)*showdata"/>
        select * from `department` order by id limit #{beginindex},#{showdata}
    </select>
    <!--用于mybatis分页插件-->
    <select id="findByRowBounds" resultType="dept">
        select *
        from `department`
    </select>

    <!--useGeneratedKeys 为是否启用主键自增(数据库也要设置主键递增)，keyColumn 为主键名-->
    <!--flushCache 默认是开启的，insert,update,delete操作数据后需要刷新二级缓存-->
    <insert id="insert" parameterType="dept" useGeneratedKeys="true" keyColumn="id" flushCache="true">
        insert into `department`
        values (null, #{name}, #{age}, #{gender}, #{team})
    </insert>
</mapper>